<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Arte</title>
</head>
<body>
    
    <section id= "arte">

        <article id="arte-hero">  
        <h1>Arte y Reggeaton</h1>
        <p>Durante los últimos 15 años el reguetón pasó de ser una música marginada y denigrada a ser una subcultura pop que se ha apoderado de los 5 continentes. Con este gran éxito, la mezcla de tambores y sonidos primarios ha migrado a diferentes estilos artísticos y plásticos. El reguetón hoy en día moldea desde las artes audiovisuales con sus videos con billones de views, hasta artes clásiscas como la escultura y pintura en óleo. El reguetón es arte</p>
        <h2 ><a class = "volver" href="/">volver</a></h2>
        </article>


        <figure class="youtube">
            <iframe width="420" height="280"
            src="https://www.youtube.com/embed/9jI-z9QN6g8" frameborder="0">
            </iframe>
        </figure>

   
    </section>


</body>
</html>
