<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>About reggeaton</title>
</head>
<body>

    <section id="moda-hero">

        <Article>
            <h1>Moda</h1>
            <hr>
            <p>Desde aquella época en sus principios, el reguetonero siempre fue un personaje que llamaba al excentricismo. Con pocos recursos económicos, se refugiaban en coloridos atuendos elaborados por diseñadores locales, mostrando una gran exuberancia y sin miedo a romper tabúes. Con el auge mundial del reguetón todo cambió, y los diseñadores locales fueron cambiados por grandes marcas mundiales de lujo como Channel, Burberry y Gucci. Gucci sobre todos las otras grandes casas ha tomado a los reggeatoneros con los brazos abiertos, diseñando muchas veces piezas personales para grandes del genero como Bad Bunny y Ozuna.</p>
            <h2><a class="volver" href="/"> Volver</a></h2>
        </Article>

    </section>

    <section class = "scroll-down">
        
        <figure><img src="/modarosado.jpg" alt="rosado"></figure>
        <figure><img src="/ozuna.jpg" alt="flipflops"></figure>
        <figure><img src="/delaghettomoda.jpg" alt="delaghetto"></figure>
        <figure><img src="/badbunnymoda.jpg" alt="BB"></figure>


    </section>
    
</body>
</html>